:root {
    /* garfield bowling palette */
    --dark: #1f1f23;
    --light: #8f8f93;
    --accent: #487f9d;
    --text: #d8dddd;
    /* profile pic palette */
    --twine: #d3d4d4;
    --onion: #2B1C0D;
    --leather: #906E4B;
    --kelp: #494936;
    --gurkha: #A19E70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: flex-start;
    background-color: var(--twine);
}

header {
    padding: 13px;
   
    text-align: center;   
    background-color: var(--gurkha);
    color: var(--text);
}

header h1 {
    font-size: 66px;
    outline: 3px;
    outline-style: dashed;
    outline-offset: 5px;
    height: auto;
    border-bottom: 10px var(--onion);
    
}

.backcolor {
    margin-top: auto;
    position: absolute;
    background-color: var(--onion);
    width: 100%;
}

nav {
    /* border-top: 3px dotted var(--onion); */
    border-bottom: 3px dashed var(--onion);
    margin-top: auto;
    width: 100%;
    text-align: center;
    background-color: var(--leather);
    color: var(--dark);
    height: auto;
    /* border-radius: 11px 11px 11px 11px; */
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    
}

nav ul li {
    display: inline-block;
    justify-content: space-between;
    flex-grow: 1;
    padding: 5%;
    /* height: 83px; */
    
}

.topNav {
    font-size: 18px;
    color: var(--texts);
}

/* styles for link text */
nav ul li a {
    color: var(--onion);
}

/* profile image and banner styling */
/* mobile */

.profile {
    text-align: center;
    height: 666px;
    width: 100%;
    margin-top: auto;
    background-image: url("../assets/images/profile2.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position:  center center;
    
}

.profile h1 {
    display: inline-block;
    color: var(--text);
    text-align: center;
    margin-top: 432px;
    padding: 20px;
    background-color: var(--onion);
    border-radius: 39px 13px 39px 13px;
    /* box-shadow: 7px 7px 7px var(--gurkha) inset; */
    /* bottom // top? */
            /* >|-<, v|^, dif, size*/
    box-shadow: 0px 0px 0px 23px var(--leather), 0px 0px 0px 39px var(--gurkha);
}

/* profile image and banner styling */
/* desktop */

/* .profile {
    text-align: right;
    height: 1983px;
    width: 100%;
    margin-top: auto;
    margin-bottom: 39px;
    background-image: url("../assets/images/profile2.jpg");
    background-size: cover;
    background-position: center;
    opacity: 80%;
}

.profile h1 {
    display: inline-block;
    color: var(--text);
    margin: 30px;
    padding: 20px;
    background-color: var(--dark);

} */
#about-me {
    border-top: 3px dashed var(--onion);
    background-color: var(--kelp);
    padding: 5%;
    color: var(--text);
}

#work {
    background-color: var(--twine);
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    
}

#work h3 h6 {
    padding: 15px;
}

#contact {
    background-color: var(--gurkha);
}

/* .backgroundImage {
    background-image: url("../assets/images/profile2.jpg");
    background-size: cover;
    background-position: 100%;
    opacity: 86%;
} */

.titlePlate {
    display: block;
    position: relative;
    right: 0px;
    bottom: 0px;
    background-color: var(--onion);
    padding: 13px;
    width: fit-content;
    border-radius: 39px 13px 39px 13px;
    box-shadow: 0px 0px 0px 13px var(--leather), 0px 0px 0px 25px var(--gurkha);
}

.proj-1 {
    width: 100%;
    flex-wrap: wrap;
    border-style: dashed;
    border-width: 5px;
    border-color: var(--kelp);
    flex-grow: 2;
    margin: 2px;
    color: var(--text);
    background-image: url("../assets/images/profile2.jpg");
    background-size: fill;
    background-position: 100%;
    height: 540px;
}

.proj-2 {
    color: var(--text);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: dashed;
    border-width: 5px;
    border-color: var(--kelp);
    flex-grow: 1;
    width: 49%;
    margin: 2px;
    justify-content: space-between;
    background-image: url("../assets/images/profile2.jpg");
    background-size: cover;
    background-position: fill;
    height: 360px;
}

#contact {
    margin-top: auto;
    width: 100%;
    text-align: center;
    background-color: var(--leather);
    color: var(--dark);
    height: auto;
    border-radius: 11px 11px 11px 11px;
}

#contact ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#contact ul li {
    display: inline-block;
    justify-content: center;
    flex-grow: 3;
    padding: 5%;
    /* height: 83px; */
    font-size: 100%;
    color: var(--onion);
}


/* left todo: */

/*  */