:root {
    --dark: #1f1f23;
    --light: #8f8f93;
    --accent: #487f9d;
    --text: #CDC1BA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    justify-content: flex-start;
} */

header {
    padding: 10px;
    border-width: 100%;
    text-align: center;
    background-color: var(--dark);
    color: var(--text);
    /* max-height: 90%; */
    /* display: inline; */
}

header h1 {
    /* display: inline-block; */
    max-height: 90%;

}

nav {
    border-width: 100%;
    text-align: center;
    background-color: var(--light);
    color: var(--dark);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

.profile {
    text-align: right;
    height: 1983px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/profile.jpg");
    background-size: cover;
    background-position: center;
    opacity: 80%;
}

.profile h1 {
    display: inline-block;
    color: var(--text);
    margin: 30px;
    padding: 20px;
    background-color: var(--dark);

}